{% extends "base.html" %}

{% block title %}
{{titulo}}
{% endblock %}
{% block header %}
Inicio de Sesi&oacuten
{% endblock %}
{% block content %}
<form  enctype="multipart/form-data" method="POST" action="/usuarios/sesion/">{% csrf_token %}
{% for field in farm %}
       <tr> 
	     <td width="120px">{{field.label_tag }}</td>
	 <td>{{field }}</td>
</tr>
<br>
<br>
{% endfor %}
<tr></tr>
<tr><td width="120px"><input type="submit" value="Enviar" /></td><td></Td></tr>
</table>
</form>
{% endblock %}
